.edit_events {
  margin-bottom: 200px;

  .event-switch + .event-switch {
    margin-top: 20px;
  }

  span {
    display: block;
  }

  .form-control {
    height: 44px !important;
  }

  .buttons {
    margin-top: 30px;

    label {
      font-size: 2.4rem;
      display: block;
    }

    .btn-primary {
      color: #fff;
      background-color: #1fbb00;
      border-color: #1FBB00;
    }

    .btn-default {
      color: #fff;
      background-color: #bb0100;
      border-color: #bb0100;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #1fbb00;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #1fbb00;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}